/* GENERAL STYLING FOR THE WEBPAGE */
body{
	background-color: #90EE90;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper { 
	background-color: #FFFFF0;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 0px 4px #666666; 
	height:auto;
}

/* SETS THE HEADER */
header{
	height:138px;
	background-color: black;
}

header h1{
	text-transform: uppercase;
	font-size: 32px;
	color: white;
	margin-top:50px;
	display:inline;
	position:absolute;
	letter-spacing: 12px;
	text-decoration: underline;
}

header #greenhouse-logo{
	width:100px;
	height:100px;
	display:inline-block;
	margin:20px 20px 0px 10px;
}

header #mobile-logo {
	display:none;
}

/* THE GREEN LOGIN/SIGNUP BUTTONS ON TOP RIGHT */
header .loginbtn{
    padding: 10px;
    float:right;
    color:#FFF;
    text-align: center;
    border-radius: 0 0 5px 5px;
    background: #20b225;
    border: 2px solid #09660c;
    border-top: 0px;
    width: 60px;
    font-weight: normal;
    font-size: 14px;
    margin-right:10px;
}

/* THE NAVIGATION IS PUT WITHIN THE HEADER FOR PLACEMENT REASONS */
nav {
	display:inline;
	text-transform: uppercase;
	text-align:center;
	word-spacing:5px;
	font-size:14px;
    position: absolute;
    margin-top: 115px;

}

/* THE MENU BUTTONS AS LINKS AND THEIR DIFFERENT STATE COLORS */
nav .navbtn { 
	padding:10px; /* Makes the buttons background color bigger */
	border-radius:5px 5px 0 0;
}
a {
	text-decoration: none;
}
.navbtn:link, #orderbtn:link {color:white/*#696969*/;}
.navbtn:visited, #orderbtn:link {color:white/*#2F4F4F*/;}
.navbtn:hover, .loginbtn:hover {
	color:#20b225;
	background-color: white;
	box-shadow: 2px 2px 4px #20b225;
	font-weight: bold;
	transition:1s;
}
/* DIFFERENT STYLING FOR THE ORDER BUTTON */
#orderbtn:hover{
	color:white;
	box-shadow: inset -7px -7px 4px #f9d381;
	transition:.5s;
	font-weight:normal;
}
header #orderbtn {
	margin-left:15px;
	border-radius:5px 5px 0 0;
	background: #ffb923;
	padding:10px;
}


/* SETS THE FOOTER VALUES */
footer { 
	background-color: #FFFFF5;
	font-size: small;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border-top: 1px black solid;
	border-left: 1px black solid;
	float:bottom;
}

footer a {
	color:black;
}


/**********************************
PAGE: HOME TODO: Google how to add in a 2 or 3 columns news layout
***********************************/

#homepagetext{
	padding:0 10% 0 10%	;
	text-align: center;
}

#gallery {
	list-style: none;
	margin-bottom:100px;
}

#gallery li img {
    width:100%;
    height:100%;
    max-width:400px;
}

#gallery li {
	float: left;
	margin: 5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

#gallery li a p {
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
	text-align:left;
    
}

#gallery li:nth-child(2n+1) {
		clear:left

}



