/* GENERAL STYLING FOR THE WEBPAGE */
body{
	background-image: url("login-background.jpg");
	background-color: #90EE90;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper { 
	background-color: #FFFFF0;
	width: 30%;
	margin:200px auto 200px auto;
	box-shadow: 10px 10px 10px #666666; 
	border:black 1px solid;
	height:700px;
	display: block;
    position: relative;
}

#loginform {
	text-align: center;
    margin:100px auto 100px auto;
}

input{
	width: 50%;
	padding:12px;
	box-sizing:border-box;
	margin-bottom:20px;
}

input:focus {
	border:green solid 3px;
}

#loginsubmit {
	margin-top: 20px;
	padding:15px 100px 15px 100px;
	border-radius: 2px;
}

h2 {
	text-align: center;
	font-size:35px;
	word-spacing:12px;
	letter-spacing:6px;
	text-shadow: 2px 2px 2px lightgreen;
	text-transform: underline;
}